:root {
    --yellowBase : #FEC42E;
    --greyStroke : #A5A5A5;
    --blueBase : #1F2A3B;
    --blueVar : #2F3D52;
    --orangeBtn : #FF9900;
    --black : #000000;
    --white : #FFFFFF;
}

*{
    padding : 0;
    margin : 0;
   
}
body{
    width: 100vw !important;
    height: 200vh;
}

/* FRAME 1 START */
.frame1 {
    height: 110vh;
    width: 100vw;
}

/* NAVBAR START */
.navbar {
    width: 100%;
    height: 62px;
    background-color: #FEC42E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.logo img {
    width: 219px;
    height: 144.14px;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo ul li {
    list-style: none;
}

.logo ul li a{
    text-decoration: none;
    color: #000000;
    font-family: "inter", sans-serif;
    font-size: 19px;
    cursor: pointer;
}

.logo ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #000000;
    margin: auto;
    display: block;
}

.logo ul li a:hover::after {
    width: 100%;
    transition: width 0.1s linear;
}

.register {
    width: 25%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.register a {
    text-decoration: none;
    color: #000000;
    font-family: "inter", sans-serif;
    font-size: 19px;
}

.register a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #000000;
    margin: auto;
    display: block;
}

.register a:hover::after {
    width: 100%;
    transition: width 0.1s linear;
}

.profileIcon img{
    width: 34px;
    height: 34px;
}

.shopIcon img{
    width: 38x;
    height: 34px;
}
/* NAVBAR END */

/* HEADER START */
.headerWrap {
    width: 100vw;
    height: 248px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEC42E;
}

.headert{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.imgStoreWrap {
    width: 65%;
    height: 248px;
    background-image: url(Pict/Store1.jpg);
    background-size: cover;
    background-position: center;
}
/* HEADER END */


.galleryTitle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "inter", sans-serif;
    font-size: 30px;
}



/* store section start */

.storeSectTitle {
    width: 55%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 5%;
}

.storeSectTitle h5 {
    font-family: "inter", sans-serif;
    font-size: 20px;
}

.storeSectTitle p {
    font-family: "inter", sans-serif;
    font-size: 15px;
}


.storeImgWrap1 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1F2A3B; */
}

.storeImgWrap2 {
    width: 90%;
    height: 100%;
    background-color: #1F2A3B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.storePict {
    width: 30%;
    height: 75%;
    /* background-color: #FEC42E; */
}

.storePict img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* store section end */

.galleryDivider {
    height: 100px;
}



/* start footer */
.footer-wrap {
    width: 100vw;
    height: 300px;
    background-color: #1F2A3B;
}
.footerTop {
    width: 100%;
    height: 70%;
    /* display: flex; */
    /* background-color: #A5A5A5; */
}

.footerTopTop {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: end;
    font-family: "inter", sans-serif;
    font-size: 25px;
    color: #A5A5A5;
}

.footerMid {
    width: 100%;
    height: 60%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBox1 {
    width: 25%;
    height: 50%;
    /* background-color: #FFFFFF; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.footerLogo-wrap {
    width: 100px;
    height: 50px;
    background-color: #FEC42E;
}

.footerLogo-wrap img {
    width:100px;
    height:50px;
}

.register-wrap {
    width: 150px;
    height: 50px;
    background-color: #A5A5A5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "inter", sans-serif;
    transition: box-shadow 0.3s ease-in-out;
}

.register-wrap:hover {
    box-shadow: 0 0 5px rgb(224, 221, 221);
}

.register-wrap a {
    text-decoration: none;  
    color: #000000; 
}

.footerBtm {
    width: 100%;
    height: 20%;
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end footer */


@media screen and (max-width: 768px) {
    .frame1 {
        height: auto;
    }

    .logo {
        width: 60%;
    }
    .logo img {
        width: 150px;
        height: auto;
    }

    .navbar ul {
        width: 70%;
        justify-content: space-evenly;
    }

    /* .navbar ul li a {
        font-size: 13px;

    } */

    .register {
        width: 30%;
    }

    .profileIcon {
        width: auto;
        height: auto;
    }

    .shopIcon{
        width: auto;
        height: auto;
    }
    
    .headerWrap {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }


    .headert {
        font-size: 24px;
        margin-top: 10px;
    }
    
    
   /* store section start */
    .storeSectTitle {
    width: 90%;
    height: auto;
    padding: 5%;
    text-align: center;
    align-items: center;
    }
    
    .storeSectTitle h5 {
    font-size: 18px;
    
    }
    
    .storeSectTitle p {
    font-size: 14px;
    }
    
    .storeImgWrap1 {
    height: auto;
    }
    
    .storeImgWrap2 {
    /* display: flex; */
    flex-direction: column;
    }
    
    .storePict {
    width: 45%;
    height: 200px;
    margin-bottom: 20px;
    }
    
    .storePict img {
    object-fit: contain;
    }
    /* store section end */
    
    .galleryDivider {
    height: 50px;
    }
    
    /* start footer */
    .footer-wrap {
        height: 200px;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerTopTop {
        /* flex-direction: column; */
        align-items: center;
        gap: 10px;
        font-size: 18px;
    }

    .footerMid {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footerBox1 {
        width: 80%;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .register-wrap {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
}